<section class="pagination" style="display: block; width: 100%;">
  {{#if prev}}
    <a class="newer-posts btn btn-sm btn-outline" href="{{page_url prev}}"><i class="fa fa-caret-left"></i> Newer Posts</a>
  {{/if}}

  {{#if next}}
    <a class="older-posts pull-right btn btn-sm btn-outline" href="{{page_url next}}">Older Posts <i class="fa fa-caret-right"></i></a>
  {{/if}}
</section>
