{{#get "tags"}}
<nav class="menu tags">
  <a class="menu-item" href="/" data-slug="all">All posts</a>
  {{#foreach tags}}
    <a class="menu-item tag" href="{{url}}" data-slug="{{slug}}">{{name}}</a>
  {{/foreach}}
</nav>
{{/get}}
