{{!< default}}

<header class="subheader">
  <div class="container">
    <h2 class="page-title">Error <small>404</small></h2>
  </div>
</header>

<main id="content" class="container text-center text-muted">
  <img src="{{asset "images/deadlink.png"}}">
  <h3>Whoops, you found a dead link.</h3>
</main>
