{{!< default}}

<header class="subheader">
  <div class="container">
    <h2 class="page-title">Subscribe <small>Stay updated</small></h2>
  </div>
</header>

<main id="content" class="container">
  {{subscribe_form}}
</main>
