code {
  background-color: #f5f5f5;
  color: #000; }

.modal img {
  max-width: 100%; }

.navbar {
  margin-bottom: 0; }

.navbar-brand {
  padding: 0; }
  .navbar-brand img {
    height: 100%;
    padding: 15px;
    width: auto; }

.navbar-nav {
  border-left: 1px #e7e7e7 solid; }
  .navbar-nav li > a {
    font-size: 13px;
    font-weight: bold; }
  .navbar-nav .active > a {
    background-color: #f8f8f8; }
    .navbar-nav .active > a:hover {
      background-color: #f8f8f8; }

.navbar-default .navbar-nav .current-item {
  color: #434343; }
  .navbar-default .navbar-nav .current-item:hover {
    color: #434343; }

.subheader {
  border-bottom: 1px #e7e7e7 solid;
  margin-bottom: 15px; }
  .subheader h2 {
    margin-bottom: 26px;
    margin-top: 26px;
    padding: 0; }

.post {
  margin-bottom: 50px; }
  .post img {
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 100%;
    padding: 4px; }

.post-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  padding: 4px;
  width: 100%; }
  .post-image div {
    background-position: center;
    background-size: cover;
    height: 250px;
    max-height: 350px; }

.post-header {
  margin-bottom: 10px; }
  .post-header h2 {
    margin-bottom: 0; }

.post-meta ul li {
  font-size: 13px;
  padding-right: 20px; }
.post-meta a {
  color: #777; }

.author-image {
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
  height: 18px;
  vertical-align: top;
  width: 18px; }

.share {
  margin-bottom: 30px; }
  .share a {
    color: #aaa;
    transition: .5s all; }
    .share a:hover, .share a:focus {
      text-decoration: none;
      transition: .5s all; }
    .share a.share-twitter:hover {
      color: #55acee; }
    .share a.share-facebook:hover {
      color: #3b5998; }
    .share a.share-google-plus:hover {
      color: #dc4e41; }

.site-footer {
  font-size: 13px;
  margin-bottom: 30px; }
  .site-footer hr {
    margin-bottom: 5px; }
  .site-footer p {
    margin: 0; }

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  user-select: none;
  -webkit-appearance: none; }
  .btn i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.6; }
  .btn .octicon {
    vertical-align: text-top; }
  .btn .counter {
    text-shadow: none;
    background-color: #e5e5e5; }
  .btn:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }
  .btn:focus:hover, .btn.selected:focus {
    border-color: #51a7e8; }
  .btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc; }
  .btn:active, .btn.selected, .btn.zeroclipboard-is-active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
  .btn.selected:hover {
    background-color: #cfcfcf; }
  .btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none; }

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941; }
  .btn-primary .counter {
    color: #60b044;
    background-color: #fff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #569e3d;
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e; }
  .btn-primary:active, .btn-primary.selected {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #569e3d;
    background-image: none;
    border-color: #418737; }
  .btn-primary.selected:hover {
    background-color: #4c8b36; }
  .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover {
    color: #fefefe;
    background-color: #add39f;
    background-image: linear-gradient(#c3ecb4, #add39f);
    border-color: #b9dcac #b9dcac #a7c89b; }

.btn-danger {
  color: #900; }
  .btn-danger:hover {
    color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a; }
  .btn-danger:active, .btn-danger.selected {
    color: #fff;
    background-color: #b33630;
    background-image: none;
    border-color: #9f312c; }
  .btn-danger.selected:hover {
    background-color: #9f302b; }
  .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger.disabled, .btn-danger.disabled:hover {
    color: #cb7f7f;
    background-color: #efefef;
    background-image: linear-gradient(#fefefe, #efefef);
    border-color: #e1e1e1; }
  .btn-danger:hover .counter, .btn-danger:active .counter, .btn-danger.selected .counter {
    color: #b33630;
    background-color: #fff; }

.btn-outline {
  color: #4078c0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5; }
  .btn-outline .counter {
    background-color: #eee; }
  .btn-outline:hover, .btn-outline:active, .btn-outline.selected, .btn-outline.zeroclipboard-is-hover, .btn-outline.zeroclipboard-is-active {
    color: #fff;
    background-color: #4078c0;
    background-image: none;
    border-color: #4078c0; }
    .btn-outline:hover .counter, .btn-outline:active .counter, .btn-outline.selected .counter, .btn-outline.zeroclipboard-is-hover .counter, .btn-outline.zeroclipboard-is-active .counter {
      color: #4078c0;
      background-color: #fff; }
  .btn-outline.selected:hover {
    background-color: #396cad; }
  .btn-outline:disabled, .btn-outline:disabled:hover, .btn-outline.disabled, .btn-outline.disabled:hover {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5; }

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-sm {
  padding: 2px 10px; }

.hidden-text-expander {
  display: block; }
  .hidden-text-expander.inline {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 5px;
    line-height: 0; }
  .hidden-text-expander a {
    display: inline-block;
    height: 12px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 6px;
    color: #555;
    text-decoration: none;
    vertical-align: middle;
    background: #ddd;
    border-radius: 1px; }
    .hidden-text-expander a:hover {
      text-decoration: none;
      background-color: #ccc; }
    .hidden-text-expander a:active {
      color: #fff;
      background-color: #4183c4; }

.social-count {
  float: left;
  padding: 2px 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .social-count:hover, .social-count:active {
    text-decoration: none; }
  .social-count:hover {
    color: #4078c0;
    cursor: pointer; }

.btn-block {
  display: block;
  width: 100%;
  text-align: center; }

.btn-group {
  display: inline-block;
  vertical-align: middle; }
  .btn-group:before {
    display: table;
    content: ""; }
  .btn-group:after {
    display: table;
    clear: both;
    content: ""; }
  .btn-group .btn {
    position: relative;
    float: left; }
    .btn-group .btn:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .btn-group .btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .btn-group .btn:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.selected {
      z-index: 2; }
    .btn-group .btn:focus {
      z-index: 3; }
    .btn-group .btn + .btn {
      margin-left: -1px; }
  .btn-group .btn + .button_to,
  .btn-group .button_to + .btn,
  .btn-group .button_to + .button_to {
    margin-left: -1px; }
  .btn-group .button_to {
    float: left; }
    .btn-group .button_to .btn {
      border-radius: 0; }
    .btn-group .button_to:first-child .btn {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .btn-group .button_to:last-child .btn {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.btn-group + .btn-group,
.btn-group + .btn {
  margin-left: 5px; }

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: #4078c0;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  user-select: none;
  -webkit-appearance: none; }
  .btn-link:hover, .btn-link:focus {
    text-decoration: underline; }
  .btn-link:focus {
    outline: none; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

label {
  font-size: 13px;
  font-weight: bold; }

.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
select,
textarea {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }
  .form-control.focus, .form-control:focus,
  input[type="text"].focus,
  input[type="text"]:focus,
  input[type="password"].focus,
  input[type="password"]:focus,
  input[type="email"].focus,
  input[type="email"]:focus,
  input[type="number"].focus,
  input[type="number"]:focus,
  input[type="tel"].focus,
  input[type="tel"]:focus,
  input[type="url"].focus,
  input[type="url"]:focus,
  select.focus,
  select:focus,
  textarea.focus,
  textarea:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }

select:not([multiple]) {
  height: 34px;
  vertical-align: middle; }

input.input-contrast,
.input-contrast {
  background-color: #fafafa; }
  input.input-contrast:focus,
  .input-contrast:focus {
    background-color: #fff; }

::placeholder {
  color: #aaa; }

input.input-mini {
  min-height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px; }

input.input-large {
  padding: 6px 10px;
  font-size: 16px; }

.input-block {
  display: block;
  width: 100%; }

.input-monospace {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

dl.form {
  margin: 15px 0; }
  dl.form input[type="text"],
  dl.form input[type="password"],
  dl.form input[type="email"],
  dl.form input[type="url"],
  dl.form select,
  dl.form textarea {
    background-color: #fafafa; }
    dl.form input[type="text"]:focus,
    dl.form input[type="password"]:focus,
    dl.form input[type="email"]:focus,
    dl.form input[type="url"]:focus,
    dl.form select:focus,
    dl.form textarea:focus {
      background-color: #fff; }
  dl.form > dt {
    margin: 0 0 6px; }
    dl.form > dt label {
      position: relative; }
  dl.form.flattened > dt {
    float: left;
    margin: 0;
    line-height: 32px; }
  dl.form.flattened > dd {
    line-height: 32px; }
  dl.form > dd input[type="text"],
  dl.form > dd input[type="password"],
  dl.form > dd input[type="email"],
  dl.form > dd input[type="url"] {
    width: 440px;
    max-width: 100%;
    margin-right: 5px; }
  dl.form > dd input.shorter {
    width: 130px; }
  dl.form > dd input.short {
    width: 250px; }
  dl.form > dd input.long {
    width: 100%; }
  dl.form > dd textarea {
    width: 100%;
    height: 200px;
    min-height: 200px; }
    dl.form > dd textarea.short {
      height: 50px;
      min-height: 50px; }
  dl.form > dd h4 {
    margin: 4px 0 0; }
    dl.form > dd h4.is-error {
      color: #bd2c00; }
    dl.form > dd h4.is-success {
      color: #6cc644; }
    dl.form > dd h4 + p.note {
      margin-top: 0; }
  dl.form.required > dt > label:after {
    padding-left: 5px;
    color: #9f1006;
    content: "*"; }
  dl.form .success,
  dl.form .error,
  dl.form .indicator {
    display: none;
    font-size: 12px;
    font-weight: bold; }
  dl.form.loading {
    opacity: 0.5; }
    dl.form.loading .indicator {
      display: inline; }
    dl.form.loading .spinner {
      display: inline-block;
      vertical-align: middle; }
  dl.form.successful .success {
    display: inline;
    color: #390; }
  dl.form.warn dd.warning,
  dl.form.warn dd.error, dl.form.errored dd.warning,
  dl.form.errored dd.error {
    display: inline-block;
    position: absolute;
    max-width: 450px;
    z-index: 10;
    margin: 2px 0 0;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: normal;
    border-radius: 3px; }
  dl.form.warn dd.warning:after,
  dl.form.warn dd.warning:before,
  dl.form.warn dd.error:after,
  dl.form.warn dd.error:before, dl.form.errored dd.warning:after,
  dl.form.errored dd.warning:before,
  dl.form.errored dd.error:after,
  dl.form.errored dd.error:before {
    bottom: 100%;
    z-index: 15;
    left: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  dl.form.warn dd.warning:after,
  dl.form.warn dd.error:after, dl.form.errored dd.warning:after,
  dl.form.errored dd.error:after {
    border-width: 5px; }
  dl.form.warn dd.warning:before,
  dl.form.warn dd.error:before, dl.form.errored dd.warning:before,
  dl.form.errored dd.error:before {
    border-width: 6px;
    margin-left: -1px; }
  dl.form.warn dd.warning {
    color: #4e401e;
    background-color: #ffe5a7;
    border: 1px solid #e7ce94; }
    dl.form.warn dd.warning:after {
      border-bottom-color: #ffe5a7; }
    dl.form.warn dd.warning:before {
      border-bottom-color: #cdb683; }
  dl.form.errored > dt label {
    color: #bd2c00; }
  dl.form.errored dd.error {
    color: #fff;
    background-color: #bf1515;
    border-color: #911;
    font-size: 13px; }
    dl.form.errored dd.error:after {
      border-bottom-color: #bf1515; }
    dl.form.errored dd.error:before {
      border-bottom-color: #911; }

.note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: #767676; }
  .note .spinner {
    margin-right: 3px;
    vertical-align: middle; }

.form-checkbox {
  padding-left: 20px;
  margin: 15px 0;
  vertical-align: middle; }
  .form-checkbox label em.highlight {
    position: relative;
    left: -4px;
    padding: 2px 4px;
    font-style: normal;
    background: #fffbdc;
    border-radius: 3px; }
  .form-checkbox input[type=checkbox],
  .form-checkbox input[type=radio] {
    float: left;
    margin: 2px 0 0 -20px;
    vertical-align: middle; }
  .form-checkbox .note {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: #666; }

.hfields {
  margin: 15px 0; }
  .hfields:before {
    display: table;
    content: ""; }
  .hfields:after {
    display: table;
    clear: both;
    content: ""; }
  .hfields dl.form {
    float: left;
    margin: 0 30px 0 0; }
    .hfields dl.form > dt label {
      display: inline-block;
      margin: 5px 0 0;
      color: #666; }
    .hfields dl.form > dt img {
      position: relative;
      top: -2px; }
  .hfields .btn {
    float: left;
    margin: 28px 25px 0 -20px; }
  .hfields select {
    margin-top: 5px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; }

.input-group {
  display: table; }
  .input-group input {
    position: relative;
    width: 100%; }
    .input-group input:focus {
      z-index: 2; }
  .input-group input[type="text"] + .btn {
    margin-left: 0; }
  .input-group.inline {
    display: inline-table; }

.input-group input,
.input-group-button {
  display: table-cell; }

.input-group-button {
  width: 1%;
  vertical-align: middle; }

.input-group input:first-child,
.input-group-button:first-child .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group-button:first-child .btn {
  margin-right: -1px; }

.input-group input:last-child,
.input-group-button:last-child .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group-button:last-child .btn {
  margin-left: -1px; }

.form-actions:before {
  display: table;
  content: ""; }
.form-actions:after {
  display: table;
  clear: both;
  content: ""; }
.form-actions .btn {
  float: right; }
  .form-actions .btn + .btn {
    margin-right: 5px; }

.form-warning {
  padding: 8px 10px;
  margin: 10px 0;
  font-size: 14px;
  color: #333;
  background: #ffffe2;
  border: 1px solid #e7e4c2;
  border-radius: 4px; }
  .form-warning p {
    margin: 0;
    line-height: 1.5; }
  .form-warning strong {
    color: #000; }
  .form-warning a {
    font-weight: bold; }

.status-indicator {
  font: normal normal 16px/1 "octicons";
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px; }

.status-indicator-success:before {
  color: #6cc644;
  content: "\f03a"; }

.status-indicator-failed:before {
  color: #bd2c00;
  content: "\f02d"; }

.select {
  display: inline-block;
  max-width: 100%;
  padding: 7px 24px 7px 8px;
  vertical-align: middle;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 8px center;
  background-size: 8px 10px;
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.075);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 8px \9;
  background-image: none \9; }
  .select:focus {
    outline: none;
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }
  .select::-ms-expand {
    opacity: 0; }

.select-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px; }
  .select-sm:not([multiple]) {
    height: 26px;
    min-height: 26px; }

.menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px; }

.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #eee; }
  .menu-item:first-child {
    border-top: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    .menu-item:first-child:before {
      border-top-left-radius: 2px; }
  .menu-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
    .menu-item:last-child:before {
      border-bottom-left-radius: 2px; }
  .menu-item:hover {
    text-decoration: none;
    background-color: #f9f9f9; }
  .menu-item.selected {
    font-weight: bold;
    color: #222;
    cursor: default;
    background-color: #fff; }
    .menu-item.selected:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: #d26911; }
  .menu-item .octicon {
    margin-right: 5px;
    width: 16px;
    color: #333;
    text-align: center; }
  .menu-item .counter {
    float: right;
    margin-left: 5px; }
  .menu-item .menu-warning {
    float: right;
    color: #d26911; }
  .menu-item .avatar {
    float: left;
    margin-right: 5px; }
  .menu-item.alert .counter {
    color: #bd2c00; }

.menu-heading {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #555;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee; }
  .menu-heading:hover {
    text-decoration: none; }
  .menu-heading:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
  .menu-heading:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 0; }
