$black: #000;
$white: #fff;

$code-background-color: #f5f5f5;
$code-font-color: #000;

$subheader-border-color: #e7e7e7;
$content-element-border-color: #ddd;

$meta-link-color: #777;

$navbar-active-link-color: #434343;
$navbar-active-background-color: #f8f8f8;

$share-base-color: #aaa;
$share-twitter-color: #55acee;
$share-facebook-color:  #3b5998;
$share-google-plus-color: #dc4e41;
